* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  a {
    text-decoration: none;
    display: inline-block;
  }
  ul {
    list-style: none;
  }
  .first-nav-content a{
font-size: 14px;
color: #777;
  }
.first-nav-content a:hover
{
color: #c96;
transition: 0.5s;
} 
.first-nav-login-link a:hover{
  color: #c96;
transition: 0.5s;
}
.first-nav-login-dropdown a:hover{
  color: #c96;
transition: 0.5s;
}
.first-nav-icons a{
    color: #777;
}  
.first-nav-icons a{
  font-size: 15px;
}
.first-nav-login-link{
  font-size: 14.5px;
}
.first-nav-login-dropdown a{
font-size: 15px;
}
.first-nav-underline{
  height: 1px;
  width: 76.25rem;
  background-color: #ebebeb;
}


.second-navbar i.fa-solid.fa-magnifying-glass {
  display: inline-block;
  padding: 20px 0 0 0;
  transform: rotate(90deg);
  font-size: 25px;
}

.second-nav-my-wishlist{
  position: relative;
}
.second-nav-my-wishlist a{
color: #000;;
}
.my-wishlist-number{
    background-color: #c96;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    text-align: center;
    font-size: 12.5px;
    color: #fff;
    position: absolute;
    left: 14px;
    
}
.my-wishlist-heading{
  font-size: 13.5px;
}
.my-wishlist-icon{
  font-size: 25px;
}
.one{
  position: absolute;
  top: -3px;
  left:30px ;
}
.second-nav-my-wishlist a:hover
{
color: #c96;
transition: 0.5s;
}



.third-navbar{
  background-color: #222;
}
.dropdown-arrow{
  font-size: 11px;
}
.third-nav-icon{
  color: #c96;
}
.form-control:focus{
  box-shadow: none;
}
.slide-content span.carousel-control {
  height: 40px;
  background-color: transparent;
  border: 2px solid #fff;
  border-radius: 50%;
  padding: 6px 12px 9px 10px;
  width: 40px;
}
.slide-content img.d-block.w-100 {
  height: 80vh;
}
.carousel-caption.d-none.d-md-block {
  height: 365px;
}
.slide-headings h5{
  font-size:14px;
}
.slide-headings h1{
  font-size: 6rem;
}
.slide-headings a{
  border: 2px solid #fff;
  padding: 10px 30px ;
  border-radius: 2px;
  color: #fff;
}
.slide-headings a:hover{

  background-color: #fff;
  color: #c96;
  transition: 0.5s;
}

.banner-of-women-collection{
  background-image: url('../images/banners/banner-1.jpg');
  background-repeat: no-repeat;
  height: 599px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.women-collection-content a{
  width: 120px;
  color: #fff;
border-bottom: 2px white solid;
padding: 10px 0 7px 0;
font-size: 15px;
}
.women-collection-content a:hover{
  background-color: #fff;
  color: #000;
  transform: 0.5s;
}
.first{
  background-image: url('../images/banners/banner-2.jpg');
  
}
.banner-underline{
  height: 1px;
  width: 73.5rem;
  background-color: #ebebeb;
}
.detail-of-product-by-tab .nav{
  justify-content: center;
}
.nav-tabs{
  border-bottom: none !important;
}
.detail-of-product-by-tab .nav-tabs .nav-link.active{
  border-bottom: 2px solid #000 !important;
}
.nav-tabs .nav-link{
  border: none !important;
}
.swiper-slide.card.swiper-slide-active {
  border: none;
}
.swiper-pagination.swiper-pagination-clickable.swiper-pagination-bullets.swiper-pagination-horizontal {
  display: none;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  font-size: 20px;
  content: 'prev';
}
.swiper-button-next:after, .swiper-rtl .swiper-button-prev:after {
  content: 'next';
  font-size: 20px;
}
.swiper.mySwiper.container.col-lg-3col-md-6col-sm-12{
  margin-right: 10px;
}

.product-card{
  width: 276px;
}
.product-pic{
  width: 276px;
  height:376px ;
}
.product-pic img{
  width: 100%;
  height: 100%;
}
.product-add-switch{
  position: relative;
}
.product-add-switch a{
  color:#c96;
  background-color: #fff;
  border-radius: 6px 6px 0 0;
  width: 276px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 9px 0;
  display: none;
}
/* .product-add-switch a:hover{
  display: block;
} */
.product-card:hover{
  box-shadow: #ebebeb 10px 7px 20px;
  transition: 0.5s;
}
.product-card:hover .product-add-switch a{
  display: block;
  transition: 0.5s;
}
.product-add-switch a:hover{
background-color: #c96;
color: #fff;
}
.detail-of-product h6{
  color: #cccccc;
}
.detail-of-product h5{
  font-size: 15.5px;
}
.product-other-pics{
  height: 51px;
  width: 40.8px;
}
.product-other-pics img{
  height: 100%;
  width: 100%;;
}
.product-other-pic-one{
  border: #cccccc 1px solid ;
  padding: 0.8px;
}
.product-other-pic-two:hover{
  border: #cccccc 1px solid ;
  padding: 0.8px;
  transition: 1s;
}

.product-pic-second{
  display: none;
}
.product-card:hover .product-pic-first{
  display: none;
  transition: 0.7s;
}
.product-card:hover .product-pic-second{
  display: block;
  transition: 0.5s;
}
.product-card{
  position: relative;
}
.rounded-heart-icon{
position: absolute;
top: 7px;
right: 10px;
background-color: #fff;
color: #c96;
padding: 3px 7px;
border-radius: 50% ;
box-shadow: #cccccc 10px 1px 10px ;
display: none;
}
.product-card:hover .rounded-heart-icon
{
display: block;
transition: 1s;
}
